<div class="container" style="padding-top: 5em;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form action="/admin/add-user" method="post">
                <legend>Add User</legend>

                <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" required>
                </div>



                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                        required>
                </div>

                {{!-- <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="pw" id="pw" required>
                </div> --}}

                {{#if emailErr}}
                <h6 class="font pb-3" style="color: red;">This email is already taken</h6>
                {{/if}}

                <!-- Button trigger modal -->
                <center> <button type="button" class="btn btn-danger " style="width: fit-content;" data-toggle="modal"
                        data-target="#exampleModalCenter">
                        ADD
                    </button></center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Do you want to add this user?
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {{!-- <div class="modal-body">

                            </div> --}}
                            <div class="modal-footer">
                                <a href="/admin/add-user/{{user._id}}">
                                    <button type="button" class="btn btn-warning" style="width: 80px;">Cancel</button>
                                </a>
                                {{!-- <a href="/admin/delete-user/{{this._id}}"> --}}
                                    <button type="submit" class="btn btn-danger" style="width: 80px;">Add</button>
                                    {{!-- </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End --}}

                {{!-- <center><button type="submit" class="btn btn-primary">Add</button></center> --}}
            </form>
        </div>
    </div>
</div>