<section style="padding-top: 5em;">
    <div class="container">
        <h1>Search User By Name</h1>
        <nav class="navbar navbar-light ">
            <form class="form-inline" action="/admin/search-user" method="post">
                <input class="form-control mr-sm-2" name="userName" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>

        </nav>
        <div>
            <h2>{{#if user }}
                <p>

                    Name: <span class="text-danger">{{user.name}} </span> <br>
                    Email: <span class="text-danger">{{user.email}}</span> <br>
                    Status: <span class="text-danger">{{user.status}}</span>
                </p>
                {{else}}
                {{#if err}}

                <h3 class="text-danger" >
                    User not found!!
                </h3>
                {{/if}}
                {{/if}}
                </p>
                </p>
            </h2>

        </div>
    </div>
</section>