<div class="limiter">
    <div class="container-login100">

        <div class="wrap-login100">

            <div class="login100-pic ">

                <img src="/images/img-01.png" alt="IMG">
            </div>


            <form class="login100-form validate-form" method="POST" action="/login">
                <span class="login100-form-title">
                    <h3>
                        User Login
                    </h3>
                </span>
                {{# if errors }}
                {{# each errors }}
                <p class="alert alert-danger">{{ this.msg }}</p>
                {{/each}}
                {{/if}}

                <div class="wrap-input100 validate-input" data-validate="Email is required">
                    <input class="input100" type="email" name="email" placeholder="Email" autocomplete="">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pw" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    {{#if loginErr}}
                    <h6 class="font pb-3" style="color: red;">invalid email or password</h6>
                    {{/if}}
                    {{#if blockErr}}
                    <h6 class="font pb-3" style="color: red;">You are Blocked By admin</h6>
                    {{/if}}
                    {{#if deleteErr}}
                    <h6 class="font pb-3" style="color: red;">Your Account deleted By admin</h6>
                    {{/if}}
                    <br>
                    <input type="submit" class="login100-form-btn" value="Login" name="login"><br>
                    {{#if signup}}
                    <a href="/login" class=" pt-3" style="text-decoration: none;">Already have an account?</a>
                    {{else}}
                    <a href="/signup" class="pt-3   " style="text-decoration: none;">Create New account?</a>
                   
                    {{/if}} 

                </div>




            </form>
        </div>
    </div>
</div>

<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/bootstrap/js/popper.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>