<section>
    <div class="container">
        <h1 class="text-danger">
            Hi ,
        </h1>
        <h2>
            {{user.name}}
        </h2>

        <h3>
            <p>

                Name: <span class="text-danger">{{user.name}} </span> <br>
                Email: <span class="text-danger">{{user.email}}</span>
                <br>
            </p>
        </h3>
        <div>

        </div>

    </div>
</section>