<section>
    <div class="container">
        <h1 class="text-danger">
            Hi ,
        </h1>
        <h2>
            {{user.name}}
        </h2>

        <h3>
            <p>
                Name: {{ user.name}} <br>
                Email:  {{  user.email}}
                <br>

                


            </p>
        </h3>
        <div>
           
        </div>

    </div>
</section>