/* #userTable{
  width: 100% !important;
} */
.adminButtons{
  border-radius: 20px;
  width: 80px;
  margin-left: .4em;
}
.dataTables_paginate a{
  padding: 10px;
}
.table-bordered{
  width: max-content;
}
