<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>User Management System</title>
  {{#if loginPage}}
  <title>User Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #signout {
      background-color: whitesmoke;
      color: red;
    }

    @media (max-width: 1250px) {
      #signout {
        margin-left: 10rem;
      }
    }

    @media (max-width: 992px) {
      #signout {
        margin-left: 10rem;
      }
    }

    @media (max-width: 768px) {
      #signout {
        margin-left: 3rem;
      }
    }

    @media (max-width: 650px) {
      #signout {
        margin-left: 1rem;
      }
    }

    @media (max-width: 450px) {
      #signout {
        margin-left: 0;
      }
    }

    @media (max-width: 320px) {
      .navbar-nav a {
        margin-right: 15px;
      }
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  {{/if}}

</head>

<body>
  {{#if adminPage}}
  {{>admin-header}}
  {{else }}
  {{#if loginPage}}
  {{>login-header}}
  {{else }}
  {{>user-header}}

  {{/if}}
  {{/if}}
  {{{body}}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
  <script src="/bootstrap/js/popper.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#signup-form').validate({
        rules: {
          'name': {
            required: true,
            minlength: 4
                    maxlength: 20
          }
        }

      })
    })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $('#userTable').DataTable();
    });
    $('#userTable tbody tr').each(function (idx) {
               $(this).children("td:eq(0)").html(idx + 1);
           });
  </script>
</body>

</html>